!!! 5
html
  head
    title Mongoose mini-blog
    link(rel: 'stylesheet', href: '/css/main.css', media: 'all')
  body
    h1 Mongoose mini-blog
    nav
      a(href: '/') Home
      a(href: '/search') Search
    #main
      != messages()
      != body
      #footer
        p
          | Mongoose mini-blog &mdash; Guillermo Rauch
          a(href: 'http://twitter.com/rauchg') @rauchg
          | &mdash;
          a(href: 'http://github.com/') GitHub
